body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}


header {
    display: flex;
    background: #1f2937;
    flex-direction: column;
    padding: 0 16px;
}

button{
    background-color:#3882f6;
    color:#f9faf8;
    width: 100px;
    height: 75px;
    font-size: 18px;
    border-radius: 25px;
}

.logo-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    height:auto;
    width: 250px;
}


ul{
    list-style-type: none;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.logo-links-container a{
    color: #e5e7eb;
    font-size: 18px;  
}

.logo-links-container{
    display:flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.header-text{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding-right: 100px;
}

.header-body{
    color: #e5e7eb;
    font-size: 18px;  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.main-waffles{
    height:auto;
    max-width:25%;

    border-radius: 30px;
    margin-bottom: 50px;
}


.logo-links-container ul{
    display: flex;
    flex: 1 0 0;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-left: 200px;
    padding-right: 200px;
    gap: 30px;
    padding-top: 30px;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; 
color:lightslategray}


a:active { text-decoration: none; }