body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}


header {
    display: flex;
    background: #1f2937;
    flex-direction: column;
    padding: 0 16px;
    flex-shrink: 1;
}

button{
    background-color:#3882f6;
    color:#f9faf8;
    width: 10rem;
    padding: 2px 5px 2px 5px;
    font-size: 25px;
    border-radius: 7px;
    margin: 10px;
    outline: none;
    border-style:none;
}

.logo-container{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.logo{
    height:auto;
    width: 250px;
    padding-top: 10px;
    padding-left: 15rem;
}


ul{
    list-style-type: none;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.logo-links-container a{
    color: #e5e7eb;
    font-size: 18px;  
}

.logo-links-container{
    display:flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.header-body{
    color: #e5e7eb;
    font-size: 18px;  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 50px;
    flex: 1 1 1;
}

.header-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1 1 0;
    padding-left: 15rem;
    padding-right: 5rem;
}



.main-pic{
    display: flex;
    justify-content: flex-end;
    flex: 1 1 0;
}
 
.main-waffles{
    height:auto;
    max-width:75%;
    margin-right: 200px;
    border-radius: 30px;
    margin-bottom: 50px;
}


.logo-links-container ul{
    display: flex;
    flex: 1 0 0;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-left: 200px;
    padding-right: 200px;
    gap: 30px;
    padding-top: 30px;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; 
color:lightslategray}


a:active { text-decoration: none; }

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.second-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
}

.content-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    text-align: center;
    flex: 1 1 0;
}

.second-box img{
    width: 300px; height: 300px; object-fit: cover;
    border-radius: 30px;
    flex: 1 1 1;
}

.third-box{
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.quote {
    max-width: 500px;
    padding-top: 50px;
}

em {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.fourth-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inside-4{
    display: flex;
    flex: 1;
    max-width: 500px;
    max-height: 100px;
    flex-direction: row;
    background: #e5e7eb;
    margin: 20px;
    border-radius: 30px;
    justify-content: space-between;
    align-content: center;
    padding: 3rem 10rem 3rem 10rem;
    
}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inside-4 p{
    font-size: 18px;
}

.signup-button{
    display:flex;
    align-items: center;
    padding: 10px;
}

h4 {
    font-size: 24px;
}

footer a{
    color: #e5e7eb;
}

footer{
    display: flex;
background-color: #1f2937;
justify-content: center;
padding: 20px;
}